<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ma Page d'Accueil</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<h1>Les adjectifs</h1>

<div class="btn-group">
    <a href="#">Leçon</a> 
    <a href="#">Exercices</a>
    <a href="template/primaire/CM2/francais/adjectif/eval">Evaluation</a>
</div>

<div class="lecon">
    <h2>Leçon</h2>

    <div class="block-lecon">

        <div class="titre_partie"><h3>Retiens l'essentiel</h3></div>

            <h4 class="h4_lecon">Definition</h4>
                <p><i class="fa-solid fa-play"></i>L'adjectifs précise ou décrit le nom (ou le pronom) qu'il accompagne. Il s'accorde en genre et en nombre avec lui.</p>
                <p><i class="fa-solid fa-play"></i>L'adjectif peut être placé avant ou après le nom</p>
                <p class="exemple">Exemple : 
                    <ul>
                        <li><span class="bleu">un</span> <span class="rouge">petit</span> <span class="bleu">garçon</span></li>
                        <li><span class="bleu">une fille</span> <span class="rouge">petite</span></li>
                        <li><span class="bleu">des enfants</span> <span class="rouge">petits</span></li>
                    </ul>
                </p>

            <h4 class="h4_lecon">Les fonctions de l'adjectif</h4>
                <p><i class="fa-solid fa-play"></i>L'adjectif (ou le participe passé employé comme adjectif) peut être :
                    <ul>
                        <li><strong class="purple">épithète :</strong> Il est placé juste avant ou après le nom; 
                            <div class="exemple"> Exemple : <span class="bleu">Un</span> <span class="rouge">beau</span> <span class="bleu">chat</span> <span class="rouge">endormi</span></div>
                        </li>
                        <li><strong class="purple">attribut sujet :</strong> il est séparé du nom par un <strong>verbe d'état</strong>; 
                            <div class="exemple"> Exemple : <span class="bleu">Le chat</span> <span class="vert">est</span> <span class="rouge">beau</span> <span class="bleu">et</span> <span class="vert">semble</span> <span class="rouge">endormi</span></div>
                        </li>
                        <li><strong class="purple">apposé :</strong> il est séparé du nom par une virgule; 
                            <div class="exemple"> Exemple : <span class="bleu">Le chat,</span> <span class="rouge">endormit</span><span class="bleu">, n'entend pas le chien,</span> <span class="rouge">silencieux</span><span class="bleu">, qui approche</span></div>
                        </li>
                    </ul>
                </p>
            <h4 class="h4_lecon">Les degrés de l'adjectif</h4>
                <p<i class="fa-solid fa-play"></i>>Pour comparer des qualités ou des défauts, on peut utiliser le <strong>comparatif</strong> et le <strong>superlatif</strong>
                en ajoutant des adverbe à l'adjectif</p>
                <p class="exemple">Exemple : les comparatifs :
                    <ul>
                        <li><span class=""></span>Tom est <span class=""></span>plus <span class=""></span>grand <span class=""></span>que Pauline.</li>
                        <li>Tom est plus petit que Pauline.</li>
                        <li>Tom est aussi grand que Pauline.</li>
                    </ul>
                </p>
                <p class="exemple"> Exemple : les Superlatifs :
                    <ul>
                        <li>tome est le plus grand.</li>
                        <li>Pauline est la moins grande.</li>
                    </ul>
                </p>
        <div class="astuce">
            <p>L'attribut du sujet ne peut être ni déplacé, ni supprimé</p>
        </div>
        <div class="astuce">
            <p>L'adjectif s'accorde avec le premier nom ou le nom principale</p>
        </div>
    </div>
        <div>
        <div class="block-lecon-exemple">
        <h3>Regarde comment on fait !</h3>
            <h4 class="h4_lecon">Identifier les adjectifs et leur fonction</h4>
                <div class="encadrer_consigne"> 
                    <p class="Consigne">Souligne les adjectifs et indique leur fonction</p>
                    <p class="exemple">Le petit canard semble triste</p>
                </div>

                <div>
                    <p class="important">Première étape : <strong>"Identifier les adjectifs"</strong></p>
                    <p>
                        <ul>
                            <li>Repère le noms ou les noms</li>
                            <li>Cherche les mots qui <strong>qui apportent des précisions</strong>dessus</li>
                        </ul>
                    </p>
                    <p>&#8594; <strong class="bleu">Canard </strong>est le nom principal du groupe nominal <strong class="bleu">le petit canard</strong> </p>
                    <p>&#8594; <strong class="rouge">Petit</strong> et <strong class="rouge">triste</strong> apportent des présisions sur le nom. <strong>Ce sont des adjectifs</strong></p>
                </div>

                <div>
                    <p>Deuxième étape : <strong>"Identifie leur fonction"</strong></p>
                    <p>Pour indiquer la fonction des adjectifs, regarde <strong>regarde où sont placés</strong> rapport au nom principal.</p>
                    <p>&#8594; <strong class="rouge">Petit</strong> Est à coté de <strong class="bleu">canard</strong> : c'est un adjectif <strong>épithète</strong>.</p>
                    <p>&#8594; <strong class="rouge">Triste</strong> est séparé de <strong class="bleu">canard</strong> 
                        par un <strong>verbe d'état</strong> (<strong class="vert">semble</strong>) : c'est un <strong>attribut</strong></p>
                    <p></p>
                </div>
            <div class="reponce">
                <blockquote><strong>Reponce : </strong> Le <span class="souligne">petit</span> canard semble <span class="souligne">triste</span></blockquote>
                <p><strong>Petit</strong> = épithète</p>
                <p><strong>triste</strong> = attribut du sujet <em>canard</em></p>
            </div> 
        </div>  
        </div>
                   
                        
                        
    </div>

</div>

<div class="Exercice">
    <h2>Exercices</h2>
</div>

<div class="Evaluation">
    <h2>Evaluation</h2>
</div>

</body>
</html>