<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ma Page d'Accueil</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<h1>Les adjectifs</h1>
<a href="#">Leçon</a> 
<a href="#">Exercices</a>
<a href="template/primaire/CM2/francais/adjectif/eval">Evaluation</a>

<div class="lecon">
    <h2>Leçon</h2>

    <div>
        <h3>Retiens l'essentiel</h3>

            <h4>Definition</h4>
                <p>L'adjectifs précise ou décrit le nom (ou le pronom) qu'il accompagne. Il s'accorde en genre et en nombre avec lui.</p>
                <p>L'adjectif peut être placé avant ou après le nom</p>
                <p class="exemple">Exemple : un petit garçon / une fille petite / des enfants petits</p>

            <h4>Les fonctions de l'adjectif</h4>
                <p>L'adjectif (ou le participe passé employé comme adjectif) peut être :
                    <ul>
                        <li><strong>épithète :</strong> Il est placé juste avant ou après le nom; 
                            <div class="exemple"> Exemple : Un beau chat endormi</div>
                        </li>
                        <li><strong>attribut sujet :</strong> il est séparé du nom par un <strong>verbe d'état</strong>; 
                            <div class="exemple"> Exemple : Le chat est beau et semble endormi</div>
                        </li>
                        <li><strong>apposé :</strong> il est séparé du nom par une virgule; 
                            <div class="exemple"> Exemple : le chat, endormit, n'entend pas le chien, silencieux, qui approche</div>
                        </li>
                    </ul>
                </p>
            <h4>Les fonctions de l'adjectif</h4>
                <p>Pour comparer des qualités ou des défauts, on peut utiliser le <strong>comparatif</strong> et le <strong>superlatif</strong>
                en ajoutant des adverbe à l'adjectif</p>
                <p class="exemple">Exemple : les comparatifs :
                    <ul>
                        <li>Tom est plus grand que Pauline.</li>
                        <li>Tom est plus petit que Pauline.</li>
                        <li>Tom est aussi grand que Pauline.</li>
                    </ul>
                </p>
                <p class="exemple"> Exemple : les Superlatifs :
                    <ul>
                        <li>tome est le plus grand.</li>
                        <li>Pauline est la moins grande.</li>
                    </ul>
                </p>
        <div class="astuce">
            <p>L'attribut du sujet ne peut être ni déplacé, ni supprimé</p>
        </div>
        <div class="astuce">
            <p>L'adjectif s'accorde avec le premier nom ou le nom principale</p>
        </div>

        <div>
        <h3>Regarde comment on fait !</h3>
            <h4>Identifier les adjectifs et leur fonction</h4>
                <div class="encadrer_consigne"> 
                    <p class="Consigne">Souligne les adjectifs et indique leur fonction</p>
                    <p class="exemple">Le petit canard semble triste</p>
                </div>

                <div>
                    <p class="important">Première étape : <strong>"Identifier les adjectifs"</strong></p>
                    <p>
                        <ul>
                            <li>Repère le noms ou les noms</li>
                            <li>Cherche les mots qui <strong>qui apportent des précisions</strong>dessus</li>
                        </ul>
                    </p>
                    <p>&#8594; <strong class="bleu">Canard </strong>est le nom principal du groupe nominal <strong class="bleu">le petit canard</strong> </p>
                    <p>&#8594; <strong class="rouge">Petit</strong> et <strong class="rouge">triste</strong> apportent des présisions sur le nom. <strong>Ce sont des adjectifs</strong></p>
                </div>

                <div>
                    <p>Deuxième étape : <strong>"Identifie leur fonction"</strong></p>
                    <p>Pour indiquer la fonction des adjectifs, regarde <strong>regarde où sont placés</strong> rapport au nom principal.</p>
                    <p>&#8594; <strong class="rouge">Petit</strong> Est à coté de <strong class="bleu">canard</strong> : c'est un adjectif <strong>épithète</strong>.</p>
                    <p>&#8594; <strong class="rouge">Triste</strong> est séparé de <strong class="bleu">canard</strong> 
                        par un <strong>verbe d'état</strong> (<strong class="vert">semble</strong>) : c'est un <strong>attribut</strong></p>
                    <p></p>
                </div>
            <div class="reponce">
                <blockquote><strong>Reponce : </strong> Le <span class="souligne">petit</span> canard semble <span class="souligne">triste</span></blockquote>
                <p><strong>Petit</strong> = épithète</p>
                <p><strong>triste</strong> = attribut du sujet <em>canard</em></p>
            </div> 
        </div>  

                   
                        
                        
    </div>

</div>

<div class="Exercice">
    <h2>Exercices</h2>
</div>

<div class="Evaluation">
    <h2>Evaluation</h2>
</div>

</body>
</html>