body {
    font-size: 12px;
    font-family: 'OpenDyslexic', sans-serif;
    background: #2c3e50;
  }

.rouge{
    color: darkred;
}

.bleu{
    color: blue;
}

.vert{
    color: green;
}